@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

@import "partials/forms";


.row {
  margin-left: 20px;
  margin-right: 20px;
}

body {
  padding-top: 70px;
}

hr {
  height: 2px;
  background-color:#555;
  margin-top: 20px;
  margin-bottom: 20px;
}